# Security (NEVER push these)
.env

# Virtual Environments & Caches
venv/
__pycache__/
*.pyc

# Local Database (prevent team merge conflicts)
*.db
*.sqlite3

# Node modules (I see this in your screenshot!)
node_modules/